- title 'Reports'

.row
  .col-md-12
    = link_to 'User/Coalition Report', coalition_report_path, class: 'btn btn-primary'
    = link_to 'Coalition Meeting Report', coalition_meeting_report_path, class: 'btn btn-primary'
    = link_to 'Activity Summary', activity_summary_path, class: 'btn btn-primary'
    = link_to 'Major Matrix Report', major_matrix_report_path, class: 'btn btn-primary'
    = link_to 'Strategy Report', strategy_report_path, class: 'btn btn-primary'

