St. Joseph Youth Alliance BackOffice
= "===================================="

= "Dear #{@user.full_name},"


= "#{@user.inviter.full_name} has invited you to become a registered user of the St. Joseph Youth Alliance BackOffice. "

Follow the link below to create your account.

= rsvp_user_url(@user.id, @user.invite_token)
