- title 'Questions'

- breadcrumbs ['Surveys', surveys_path], @survey.name

- @questions.group_by{|a| a.section}.each do |section, section_questions|
  .row
    .col-md-12
      %table.table
        %thead
          %tr
            %th= "Section: #{section.sub(/^\d*\. /, '')}"
            %th.c Type
            %th
        %tbody
          = render partial: "question", collection: section_questions

.row
  .col-md-12
    = link_to new_survey_question_path(@survey), class: 'btn btn-primary' do
      %i.fa.fa-plus
      = p_space 'Add Question'
