.col-md-6
  .box
    .box-header
      %h2
        %i.fa.fa-file-text
        Documents
      .box-icon
        = link_to new_document_path, title: 'Upload New Documents' do
          %i.fa.fa-plus

    .box-content
      - if @user.documents.any?
        %table.table
          %thead
            %tr
              %th
              %th.c Updated
              %th.r
          %tbody
            - @user.documents.limit(15).each do |document|
              %tr
                %td
                  = file_type_label document.content_type
                  = "&nbsp;".html_safe
                  = link_to document.name, document
                  %small
                    %i= " (#{number_to_human_size document.item_size})"
                %td.c
                  = document.updated_at.strftime '%-m/%-d/%Y'
                %td.r
                  .btn-group
                    = link_to download_document_path(document), title: "Download", class: 'btn btn-xs btn-success', data: { 'no-turbolink' => true } do
                      %i.fa.fa-download
                    - if policy(document).edit?
                      = link_to edit_document_path(document), title: "Edit Document", class: "btn btn-xs btn-warning" do
                        %i.fa.fa-pencil
                    - if policy(document).destroy?
                      = link_to document, title: "Remove", class: "btn btn-xs btn-danger", data: { confirm: 'Are you sure?' }, method: :delete do
                        %i.fa.fa-trash-o

        .row
          .col-md-12
            = link_to 'View All', documents_path(user: @user.id), class: 'btn btn-primary'

      - else
        %h4.text-center.text-info
          No documents available.
