= form_for @user, html: { class: 'form-horizontal', multipart: true } do |f|
  = render partial: 'shared/form_errors', locals: { resource: @user }

  %fieldset
    %legend Login Information

    .form-group
      = f.label :email, class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_field :email, class: 'form-control'

    - if show_organization_select? @user
      .form-group
        = f.label :organization, class: 'control-label col-sm-2'
        .col-sm-10
          = f.collection_select :organization_id, current_user.assignable_organizations.to_a, :id, :name, {}, class: 'form-control'

    - if show_role_select? @user
      .form-group
        = f.label :role, class: 'control-label col-sm-2'
        .col-sm-10
          = f.collection_select :role, current_user.assignable_roles, :to_s, :humanize, {}, class: 'form-control'
          %span.help-block
            %button.btn-link.role-explanation-toggle{type: 'button', data: {toggle: "modal", target: "#role-explanations-modal"}} What do these mean?
          .modal.fade#role-explanations-modal
            .modal-dialog
              .modal-content
                .modal-header
                  %button.close{type: 'button', data: {dismiss: "modal"}, 'aria-hidden' => "true"} &times;
                  %h4.modal-title Role Explanations

                .modal-body
                  = role_explanations current_user.assignable_roles
                .modal-footer
                  %button.btn.btn-primary{type: "button", data: {dismiss: "modal"}} OK
          - if @user.new_record? || @user.contact?
            #invitation-warning.bs-callout.bs-callout-warning
              .row
                .col-md-12
                  %h4 Invitation
                .col-md-12
                  Saving this user will result in a registration invitation e-mail being sent to them.

    - if @user == current_user
      .form-group
        = f.label :password, class: 'control-label col-sm-2'
        .col-sm-10
          = f.password_field :password, class: 'form-control'
          - unless @user.new_record?
            %span.help-inline Leave blank if you don't want to change it

      .form-group
        = f.label :password_confirmation, class: 'control-label col-sm-2'
        .col-sm-10
          = f.password_field :password_confirmation, class: 'form-control'

  %fieldset
    %legend Personal Information

    .form-group
      = f.label :first_name, 'First Name', class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_field :first_name, class: 'form-control'

    .form-group
      = f.label :last_name, 'Last Name', class: 'control-label col-sm-2'
      .col-md-10
        = f.text_field :last_name, class: 'form-control'

    .form-group
      = f.label :title, class: 'control-label col-sm-2'
      .col-md-10
        = f.text_field :title, class: 'form-control'

    .form-group
      = f.label :address, class: 'control-label col-sm-2'
      .col-md-10
        = f.text_field :address, class: 'form-control'

    .form-group
      = f.label :city, class: 'control-label col-sm-2'
      .col-md-10
        = f.text_field :city, class: 'form-control'

    .form-group
      = f.label :state, class: 'control-label col-sm-2'
      .col-md-10
        = f.select :state,
          ActionView::Helpers::States::US.zip(ActionView::Helpers::States::US_SHORT),
          {prompt: "Select State..."}, class: 'form-control'

    .form-group
      = f.label :zipcode, class: 'control-label col-sm-2'
      .col-md-10
        = f.text_field :zipcode, class: 'form-control'

    .form-group
      = f.label :phone, class: 'control-label col-sm-2'
      .col-md-10
        = f.text_field :phone, class: 'form-control'

    .form-group
      = f.label :avatar, 'Profile Picture', class: 'control-label col-sm-2'
      .col-md-10
        = f.file_field :avatar

    .form-group
      .col-sm-offset-2.col-sm-10
        = f.submit class: 'btn btn-primary'
        = link_to 'Cancel', users_path, class: 'btn btn-inverse'
