- if @scopes.has_key? :org
  - title "Member Directory"
- else
  - title "Directory"

= render partial: 'shared/scope_tags', locals: { scopes: @scopes, scope_params: @scope_params }

.row
  .col-md-12
    %table.table.table-striped.table-condensed
      %thead
        %tr
          %th
          %th= sortable 'last_name', 'Name'
          - unless @scopes.has_key? :org
            %th= sortable 'organizations.name', 'Organization'
          %th Address
          %th.hidden-xs Phone
          - if policy(current_user).edit?
            %th.c Actions
      %tbody
        = render partial: 'users/user', collection: @users, locals: {scopes: @scopes, scope_params: @scope_params, scope_cache_key: @scope_cache_key }
          
    = will_paginate @users

- if policy(User).new?
  .row
    .col-md-12
      = link_to "Add User", new_user_path(@scope_params.select{|k,v| k == :org }), class: 'btn btn-primary'
