- title "Directory"

.row-fluid
  .span12
    %table.table.table-striped.table-condensed
      %thead
        %tr
          %th
          %th Name
          %th Address
          %th Phone
          - if allow? :users, :edit, current_user
            %th Actions
      %tbody
        - @users.each do |user|
          %tr
            %td.photo= link_to image_tag(user.avatar.url(:tiny), alt: "No Photo", class: 'img-rounded'), user
            %td= link_to user.full_name, user
            %td
              %address
                = user.address
                %br/
                = city_state_zip user.city, user.state, user.zipcode
            %td= user.phone
            - if allow? :users, :edit, current_user
              %td
                .btn-group
                  - if allow? :users, :edit, user
                    = link_to edit_user_path(user), title: "Edit User", class: "btn btn-small btn-warning" do
                      %i.icon-pencil
                  - if allow? :users, :destroy, user
                    = link_to user, title: "Delete User", class: "btn btn-small btn-danger", data: { confirm: 'Are you sure?' }, method: :delete do
                      %i.icon-trash

- if allow? :users, :create
  .row-fluid
    = link_to "Add User", new_user_path, class: 'btn btn-primary'
