%p#notice= notice

%p
  %b First name:
  = @user.first_name
%p
  %b Last name:
  = @user.last_name
%p
  %b Email:
  = @user.email
%p
  %b Password digest:
  = @user.password_digest
%p
  %b Title:
  = @user.title
%p
  %b Phone:
  = @user.phone
%p
  %b Address:
  = @user.address
%p
  %b City:
  = @user.city
%p
  %b State:
  = @user.state
%p
  %b Zipcode:
  = @user.zipcode
%p
  %b Avatar:
  = @user.avatar

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
