- title "#{@user.full_name}'s Profile"

- breadcrumbs ['Employees', users_path], @user.full_name

.row-fluid
  .box.span12
    .box-header
      %h2
        %i.icon-user
      .box-icon
        = link_to edit_user_path(@user), title: 'Edit' do
          %i.icon-pencil

    .box-content
      .row-fluid
        .span2
          = image_tag(@user.avatar.url(:small), class: "img-rounded")
        .span5
          %h4
            %span.label.label-info= @user.role.titleize
            = user_status_link @user
          %p
            %strong Title
            %br/
            = @user.title
          %p
            %address
              %strong Address
              %br/
              - unless @user.address.blank?
                = @user.address
                %br/
              = city_state_zip @user.city, @user.state, @user.zipcode
          %p
            %strong Phone
            %br/
            = @user.phone.present? ? format_as_phone_number(@user.phone) : 'Unknown'
          %p
            %strong Email
            %br/
            = @user.email.present? ? mail_to(@user.email) : 'Unknown'
