- title @user.full_name

- breadcrumbs ['People', users_path], @user.full_name

.row
  .col-md-12
    .box
      .box-header
        %h2
          %i.fa.fa-user
          = p_space 'Profile'
        - if policy(@user).edit?
          .box-icon
            = link_to edit_user_path(@user), title: 'Edit' do
              %i.fa.fa-pencil

      .box-content
        .row
          .col-md-2.col-sm-4
            .row
              .col-md-12.col-sm-12.col-xs-6
                = image_tag(@user.avatar.url(:small), class: "img-rounded img-responsive")
              .col-md-12.col-sm-12.col-xs-6
                %h4 Role

                %span.label.label-info.user-role= @user.role.titleize
                %h4
                  Status
                = user_status_label @user
                %br/
                = user_status_link @user

          .col-md-10.col-sm-8
            %h3.user-org= @user.organization_name
            
            %hr/
            %p
              %strong
                %i.fa.fa-shield
                = p_space 'Title'
              %br/
              = @user.title.present? ? @user.title : 'Unknown'
            %p
              %address
                %strong
                  %i.fa.fa-map-marker
                  = p_space 'Address'
                %br/
                - unless @user.address.blank?
                  = @user.address
                  %br/
                = city_state_zip @user.city, @user.state, @user.zipcode, fallback: (@user.address.blank? ? 'Unknown' : '')
            %p
              %strong
                %i.fa.fa-phone
                = p_space 'Phone'
              %br/
              = @user.phone.present? ? format_as_phone_number(@user.phone) : 'Unknown'
            %p
              %strong
                %i.fa.fa-inbox
                = p_space 'Email'
              %br/
              = @user.email.present? ? mail_to(@user.email) : 'Unknown'

.row
  = render partial: 'activity_box'
  = render partial: 'document_box'


