- title 'Document Uploader'

.row
  .col-md-12
    = form_for @document, html: { multipart: true, class: 'dropzone', data: { accepts: @document.item.extension_white_list.map{ |ext| ".#{ext}" } }} do |f|
      = render partial: 'shared/form_errors', locals: { resource: @document }

      %fieldset
        .row
          %ul.media-list.dropzone-previews

        .fallback
          .form-group
            = f.label :title
            = f.text_field :title, class: 'form-control'

          .form-group
            = f.label :item, 'File'
            = f.file_field :item

        %br/
        .well.well-lg.text-center.dropzone-activator
          %h1 Drop files to upload
          %h4 (or click)

        .form-group
          .col-sm-12
            = f.submit 'Upload', class: 'btn btn-primary'
            = link_to 'Cancel', documents_path, id: 'cancel-btn', class: 'btn btn-inverse'

        %span.badge.dz-message

%script{type: 'text/template', id: 'dz-preview-template'}
  %li.media.dz-preview.dz-file-preview
    .pull-left.media-object-container
      = image_tag 'file.png', size: "64x64", class: 'media-object', "data-dz-thumbnail" => true

    .media-body
      %h3.media-heading
        %span.dz-filename{"data-dz-name" => true}
        %small
          %span.separator= '|'
          %span.dz-size{"data-dz-size" => true}
          %span.separator= '|'
        %strong.dz-status.dz-queued-status.text-warning queued
        %strong.dz-status.dz-uploading-status.text-info uploading...
        %strong.dz-status.dz-success-status.text-success uploaded ✔
        %strong.dz-status.dz-error-status.text-danger failed ✘
        %small
          %span.separator= '|'
          %a.remove-file{href: '#'} remove

      .form-group
        .col-md-6
          %input.title-input.form-control{type: 'text', placeholder: 'Title'}
          %input.tags-input.form-control{type: 'text', placeholder: 'Tags'}

          .progress.progress-striped.dz-progress
            .progress-bar.progress-bar-info.dz-upload{"data-dz-uploadprogress" => true}

          .dz-error-message.text-danger{"data-dz-errormessage" => true}



