.modal.fade#edit-measurement-modal{role: 'dialog', aria: {labelledby: 'edit-measurement-modal-label', hidden: 'true'}}
  .modal-dialog
    .modal-content
      = form_for [measure, measurement], remote: true, html: { class: 'form-horizontal' } do |f|
        .modal-header
          %button.close{type: 'button', data: {dismiss: 'modal'}, aria: {hidden: 'true'}} &times;
          %h4.modal-title#edit-measurement-modal-label Edit Measurement

        .modal-body
          %h4= @measure.description

          .form-group
            = f.label :year, class: 'control-label col-sm-2'
            .col-sm-10
              %p.form-control-static
                = measurement.year

          .form-group
            = f.label :value, class: 'control-label col-sm-2'
            .col-sm-10
              = f.text_field :value, class: 'form-control'

        .modal-footer
          %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}} Close
          = f.submit 'Update', class: 'btn btn-primary'
