= form_for [survey, attempt_builder] do |f|
  = render partial: 'shared/form_errors', locals: { resource: attempt_builder.to_model }
  %fieldset
    %legend Details
    .row
      .col-md-6
        .form-group
          %label{for: '#activity_date'} Activity Date
          .row
            .col-sm-6
              .input-group
                = text_field_tag :activity_date, attempt_builder.to_model.try(:activity_date) || '', class: 'form-control', data: { 'date-format' => 'yyyy-mm-dd' }
                %span.input-group-addon
                  %i.fa.fa-calendar
      .col-md-6
        .form-group
          %label Completed for:
          %br/
          - Rapidfire::Attempt::COMPLETED_FOR_OPTIONS.each do |option|
            %label.checkbox-inline
              = check_box_tag 'completed_for[]', option, option.in?(Array(attempt_builder.to_model.completed_for))
              = option

    .form-group
      .row
        .col-md-12.activity-type
          %label{for: '#activity_type'} Activity Type
          %br/
          = hidden_field_tag :activity_type, attempt_builder.to_model.try(:activity_type) || ''
          .row
            .col-md-6
              = select_tag :activity_type_select, options_for_select(Rapidfire::Attempt.activity_types, attempt_builder.to_model.try(:activity_type)), prompt: 'Custom', class: 'form-control'
            .col-md-6
              = text_field_tag :activity_type_custom, '', placeholder: 'Custom...', class: 'form-control'

    .form-group
      %label{for: '#description'} Description
      = text_area_tag :description, attempt_builder.to_model.try(:description) || '', class: 'form-control'

  = render partial: 'questions', locals: { attempt_builder: attempt_builder, f: f }

  .form-group
    .pull-right
      = f.submit "Save", class: 'btn btn-primary'
