
- title "Activities", true, @scopes.values.join(" ")

= render partial: 'shared/scope_tags', locals: { scopes: @scopes, scope_params: @scope_params }

.row
  .col-md-12
    %table.table.table-striped.table-responsive
      %thead
        %tr
          %th= sortable 'updated_at', 'Activity Date'
          - unless @scopes.has_key? :user
            %th.c= sortable 'users.last_name', 'Completed By'
          %th.c Completed For
          %th.c Description
          %th
      %tbody
        - if @attempts.any?
          - @attempts.each do |attempt|
            %tr
              %td= link_to (attempt.activity_date || attempt.updated_at).strftime('%B %-d, %Y'), activity_path(attempt)
              - unless @scopes.has_key? :user
                %td.c= link_to attempt.user.full_name, activities_path(@scope_params.merge({user: attempt.user.id}))
              %td.c= attempt.completed_for.map{|cf| link_to cf, @scope_params.merge({for: cf})}.join('<br/>').html_safe
              %td.c
                %a.btn-link.description-popover{role: 'button', title: 'Description', data: {content: attempt.description}}
                  %i.fa.fa-ellipsis-h.fa-lg.fa-border
              %td.r
                - if policy(attempt).edit?
                  = link_to edit_activity_path(attempt), title: "Edit Activity", class: "btn btn-sm btn-warning" do
                    %i.fa.fa-pencil

                - if policy(attempt).destroy?
                  = link_to activity_path(attempt), title: "Delete Activity", class: "btn btn-sm btn-danger", data: { confirm: 'Are you sure?' }, method: :delete do
                    %i.fa.fa-trash-o

        - else
          %tr.warning
            %td{colspan: 5} No activities available.

    = will_paginate @attempts

%br

.row
  .col-md-12
    = link_to rapidfire.new_activity_path, class: 'btn btn-primary' do
      %i.fa.fa-plus
      = "&nbsp;New Activity".html_safe
