
- title [params[:type], 'Activities'].compact.join(" "), true, @scopes.reject{|k,_| k == :type }.values.join(" ")

%span#daterangepicker-container{data: {url: activities_url(@scope_params.reject{|k,_| k.in? [:start_date, :end_date] })}}
  = render partial: 'shared/date_range_picker', locals: { date_range_object: @daterange }

= render partial: 'shared/scope_tags', locals: { scopes: @scopes, scope_params: @scope_params }

.row
  .col-md-12
    %table.table.table-striped.table-responsive
      %thead
        %tr
          %th= sortable 'id', '#'
          %th.nowrap= sortable 'activity_date', 'Activity Date', 'desc'
          - unless @scopes.has_key? :type
            %th.c.nowrap= sortable 'activity_type', 'Type'
          %th.c Description
          %th
      %tbody
        - if @attempts.any?
          - @attempts.each do |attempt|
            %tr
              %td= link_to attempt.id, activity_path(attempt)
              %td.nowrap= link_to (attempt.activity_date || attempt.updated_at).strftime('%B %-d, %Y'), activity_path(attempt)
              - unless @scopes.has_key? :type
                %td.c.nowrap= link_to attempt.activity_type, activities_path(@scope_params.merge({type: attempt.activity_type}))
              %td.c= attempt.description
              %td.r.nowrap
                - if policy(attempt).edit?
                  = link_to edit_activity_path(attempt), title: "Edit Activity", class: "btn btn-sm btn-warning" do
                    %i.fa.fa-pencil

                - if policy(attempt).destroy?
                  = link_to activity_path(attempt), title: "Delete Activity", class: "btn btn-sm btn-danger", data: { confirm: 'Are you sure?' }, method: :delete do
                    %i.fa.fa-trash-o

        - else
          %tr.warning
            %td{colspan: 5} No activities available.

    = will_paginate @attempts

%br

.row
  .col-md-12
    = link_to rapidfire.new_activity_path, class: 'btn btn-primary' do
      %i.fa.fa-plus
      = "&nbsp;New Activity".html_safe

.row
  .col-md-12
    %h2 Additional Filters
    = link_to 'With Incomplete Match Data', activities_path(@scope_params.merge({incomplete_match_data: true})), disabled: @scope_params.has_key?(:incomplete_match_data), class: 'btn btn-sm btn-primary'
