- title "Activity ##{@attempt.id}"

- breadcrumbs ['Activities', activities_path], @attempt.id

.row
  .col-md-8
    %dl
      %dt
        %i.fa.fa-thumb-tack.fa-rotate-270
        = p_space 'Description'
      %dd
        %p.lead= @attempt.description

  .col-md-4
    %dl
      %dt
        %i.fa.fa-calendar
        = p_space 'Activity Date'
      %dd= @attempt.activity_date.strftime '%B %-d, %Y'
      %br/

      %dt
        %i.fa.fa-user
        = p_space 'Entered By'
      %dd= link_to @attempt.user.full_name, @attempt.user
      %br/

      %dt
        %i.fa.fa-users
        = p_space 'Completed for'
      %dd= (@attempt.completed_for.join("<br/>") || '').html_safe

      - if policy(@attempt).edit?
        %br/
        %dd
          = link_to edit_activity_path(@attempt), class: 'btn btn-sm btn-warning' do
            %i.fa.fa-pencil
            = p_space 'Edit'

          - if policy(@attempt).edit?
            = link_to activity_path(@attempt), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' do
              %i.fa.fa-trash-o
              = p_space 'Delete'


- @attempt.answers.includes(:question).sort_by{|a| a.question.section }.group_by{|a| a.question.section}.each do |section, section_answers|
  .row
    .col-md-12
      %h1
        %small
          %i.fa.fa-bookmark-o
          = p_space section.sub(/^\d*\. /, '')

  .row
    .col-md-12
      - section_answers.each do |answer|
        - unless answer.question.follow_up_for_id.present?
          .bs-callout.bs-callout-info
            .row
              .col-md-6
                %h4.h4= answer.question.question_text
              .col-md-6
                %p
                  - if answer.answer_text.present?
                    = display_answer_text answer
                  - else
                    %i No Response Given

            - answer.question.follow_up_questions.each do |follow_up|
              - if answer.answer_text == follow_up.follow_up_for_condition && @attempt.answers.exists?(question_id: follow_up.id)
                - follow_up_answer = @attempt.answers.where(question_id: follow_up.id).first
                .row
                  .col-md-6
                    %h4.h4
                      %i.fa.fa-long-arrow-right
                      = p_space follow_up.question_text
                  .col-md-6
                    %p
                      - if follow_up_answer.answer_text.present?
                        = display_answer_text follow_up_answer
                      - else
                        %i No Response Given
