- new_or_edit = measure.new_record? ? 'new' : 'edit'
.modal.fade{id: "#{new_or_edit}-measure-modal", role: 'dialog', aria: {labelledby: "#{new_or_edit}-measure-modal-label", hidden: 'true'}}
  .modal-dialog
    .modal-content
      = form_for measure, remote: true, html: { class: 'form-horizontal' } do |f|
        .modal-header
          %button.close{type: 'button', data: {dismiss: 'modal'}, aria: {hidden: 'true'}} &times;
          %h4.modal-title{id: "#{new_or_edit}-measure-modal-label"}= "#{new_or_edit.titleize} Measure"

        .modal-body
          .form-group
            = f.label :description, class: 'control-label col-sm-2'
            .col-sm-10
              = f.text_field :description, class: 'form-control'

          .form-group
            = f.label :source_id, 'Source', class: 'control-label col-sm-2'
            .col-sm-10
              = f.collection_select :source_id, Source.all, :id, :name, {}, class: 'form-control'

          .form-group
            = f.label :link, class: 'control-label col-sm-2'
            .col-sm-10
              = f.text_field :link, class: 'form-control'

          .form-group
            = f.label :document_id, class: 'control-label col-sm-2'
            .col-sm-10
              = f.collection_select :document_id, Document.for_dashboard, :id, :name, {include_blank: true}, class: 'form-control'

        .modal-footer
          %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}} Close
          = f.submit class: 'btn btn-primary'
