- title 'Dashboard'

.row
  .col-md-12
    .table-responsive
      %table.table.table-striped.table-condensed#measure-table{data: {years: @years}}
        %thead
          %tr
            %th Measure
            %th.c Source
            - @years.each do |year|
              %th.c= year
            - if show_new_year_column = !@years.include?(Date.today.year) && policy(Measurement).create?
              %th.c.modifiers.new-year= Date.today.year
        %tbody
          = render partial: 'measure', collection: @measures, locals: {years: @years, measurements: @measurements, show_new_year_column: show_new_year_column}

- if policy(Measure).update?
  .row
    .col-md-12
      %button.btn.btn-primary#admin-mode-toggle{data: {toggle: 'button'}}
        %i.fa.fa-wrench
        = p_space 'Admin Mode:'
        %span.state= p_space 'Off'

      - if policy(Measure).create?
        = link_to new_measure_path, class: 'btn btn-primary', remote: true do
          %i.fa.fa-plus
          = p_space 'New Measure'
