%table.table.table-condensed.table-striped.table-bordered.small-text-table
  %thead
    %tr
      %th{rowspan: 2} Date
      %th{rowspan: 2} Description
      %th.c{rowspan: 2} Participants
      %th.c{rowspan: 2} Impressions
      %th.c{rowspan: 2} In Kind
      %th.c{colspan: 2} Volunteer Hours
      %th.c{rowspan: 2}
    %tr
      %th.c Adult
      %th.c Youth
  %tbody
    - data[:activities].sort_by{|a| a.activity_date || a.updated_at }.reverse.each do |activity|
      %tr
        %td= (activity.activity_date || activity.updated_at).strftime('%-m.%-d.%y')
        %td= activity.description
        %td.c= number_with_delimiter activity.participant_count
        %td.c= number_with_delimiter activity.impressions_count
        %td.c= activity.in_kind_match_amount || '---'
        %td.c= number_with_precision activity.adult_volunteer_hours, strip_insignificant_zeros: true
        %td.c= number_with_precision activity.youth_volunteer_hours, strip_insignificant_zeros: true
        %td.c
          = link_to rapidfire.activity_path(activity), class: 'btn btn-xs btn-info' do
            %i.fa.fa-eye
  %tfoot
    %tr
      %th{colspan: 2}
      %th.c.info= number_with_delimiter data[:total_participants]
      %th.c.info= number_with_delimiter data[:total_impressions]
      %th
      %th.c.info= number_with_precision data[:total_volunteer_hours][:adult], strip_insignificant_zeros: true
      %th.c.info= number_with_precision data[:total_volunteer_hours][:youth], strip_insignificant_zeros: true
      %th
