#sidebar-left.col-lg-2.col-sm-1
  -# .row-fluid.actions
  -#   %input.search.span12{placeholder: "...", type: "text"}/
  .nav-collapse.sidebar-nav.collapse.navbar-collapse.bs-navbar-collapse
    %ul.nav.nav-tabs.nav-stacked.main-menu
      %li{class: ('active' if controller.controller_name == 'static_pages' && params[:action] == 'about')}
        = link_to root_url do
          %i.fa.fa-info
          %span.hidden-sm About Us

      %li{class: ('active' if controller.controller_name == 'organizations')}
        = link_to organizations_path do
          %i.fa.fa-globe
          %span.hidden-sm Organizations

      %li{class: ('active' if controller.controller_name == 'users')}
        = link_to users_path do
          %i.fa.fa-group
          %span.hidden-sm Users

      %li{class: ('active' if controller.controller_name == 'documents')}
        = link_to documents_url do
          %i.fa.fa-file-text
          %span.hidden-sm Documents

      %li{class: ('active' if controller.controller_name.in? ['surveys', 'attempts', 'questions'])}
        = link_to rapidfire.surveys_url do
          %i.fa.fa-bullhorn
          %span.hidden-sm Activities

      %li{class: ('active' if controller.controller_name == 'attempts' && params[:action] == 'new')}
        = link_to rapidfire.new_activity_url do
          %i.fa.fa-bullhorn
          %span.hidden-sm New Activity

      %li{class: ('active' if controller.controller_name == '' && params[:action] == '')}
        = link_to root_url do
          %i.fa.fa-upload
          %span.hidden-sm Data

