!!!
%html
  %head
    %title= "#{yield(:title) || "Register"} · BackOffice · St. Joseph Youth Alliance"

    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "icons", media: 'all', data: {'turbolinks-track' => true}
    = stylesheet_link_tag "external", data: { 'turbolinks-track' => true }

    / The HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      = javascript_include_tag 'simpliq/respond.min'
      = stylesheet_link_tag 'ie6-8'

    = javascript_include_tag "application", data: { 'turbolinks-track' => true }
    = csrf_meta_tag
    = favicon_link_tag
    %link{href: "apple-touch-icon-iphone.png", rel: "apple-touch-icon"}/
    %link{href: "apple-touch-icon-ipad.png", rel: "apple-touch-icon", sizes: "72x72"}/
    %link{href: "apple-touch-icon-iphone4.png", rel: "apple-touch-icon", sizes: "114x114"}/
    %link{href: "apple-touch-icon-ipad3.png", rel: "apple-touch-icon", sizes: "144x144"}/
  %body#login{data: {action: params[:action], controller: controller.controller_name}}
    .container
      .row
        .page-header
          %h1.text-center
            %span.hidden-xs
              %strong> YouthAlliance
              %span BackOffice
            %span.visible-xs
              %strong YouthAlliance
              %span BackOffice
      .row
        .col-md-8.col-md-offset-2.content
          .row
            .col-md-10.col-md-offset-1
              - flash.each do |name, msg|
                .center-block.flash-container
                  = render_flash name, msg
              = yield
