!!!
%html
  %head
    %title Register · BackOffice · St. Joseph Youth Alliance

    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "external", data: { 'turbolinks-track' => true }

    /[if lte IE 7.0]
      = stylesheet_link_tag 'ie'
    /[if IE 8.0]
      <style type="text/css">
      form.fields fieldset {margin-top: -10px;}
      </style>

    = javascript_include_tag "application", data: { 'turbolinks-track' => true }
    = csrf_meta_tag
    = favicon_link_tag
    %link{href: "apple-touch-icon-iphone.png", rel: "apple-touch-icon"}/
    %link{href: "apple-touch-icon-ipad.png", rel: "apple-touch-icon", sizes: "72x72"}/
    %link{href: "apple-touch-icon-iphone4.png", rel: "apple-touch-icon", sizes: "114x114"}/
    %link{href: "apple-touch-icon-ipad3.png", rel: "apple-touch-icon", sizes: "144x144"}/
  %body#login{"data-action" => params[:action], "data-controller" => controller.controller_name}
    .container-fluid-full
      .row-fluid
        .page-header.span12
          %h1.text-center
            %strong> YouthAlliance
            BackOffice
      .row-fluid
        .span8.offset2.content
          .row-fluid
            .span10.offset1
              - flash.each do |name, msg|
                .row-fluid
                  .span6.offset3
                    %div{class: "alert alert-#{name}"}= msg
              = yield
